*, *::before,* ::after{
   
    font-family: sans-serif;
  
}

body{
    padding: 0;
    margin: 0;
    background: #EEF2F4;
}
header{
    position: fixed;
    width: 100%;
   
}
.navlinks{
    
    background-color:#FFFDFA;
    display: flex;
    justify-content: flex-end;
    align-items:center ;
    padding:15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 20px;
}
.navlinks img{
    height: 100%;
    width: 20px;
    margin-right: auto;
   
 }
 .navlinks .search {
   
   
    margin-left: auto;
    margin-right: auto;
 }
.search input[type = "search"]{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 14px;
    background:whitesmoke;
  
 }
 
.navlinks li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    border-radius: 10px;
    padding:0px 10px;
    text-decoration: none; 
}

.navlinks a{
    padding-left:0px ;
    font-size: 15px;
    text-decoration: none;
    
}
.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 40px;
    height: calc(100vh - 60px);
    padding:0 5px ;
    background-color: #1b1b1b; 
    transition: 00.3s;  
}
.sidebar ul{
    padding-top:10px;
    overflow: hidden;
    visibility: hidden;
    border-radius: 5px;
}
.sidebar ul span{
    display: block;
    height: 60px;
    padding: 0 5px;
    text-decoration: none;
}
.sidebar ul li{
    line-height: 60px;
    list-style: none;
}
.sidebar ul li a{
     display: block;
     height: 60px;
     padding: 0 5px;
     text-decoration: none;
     font-size: 16px;
     white-space:nowrap;
     
}
.sidebar :hover{
    background-color:#222 ;
}

/*All Products*/
.allProducts{ 
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s; 
    justify-content: center;
  }
.product{
    width: 85%;
    height: auto;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    font-size: 15px;
    color: #252324;
    background: #fff;
    border: 1px transparent;
    margin:4px;
    transition: 0.3s;
    
 
} 
.prod{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: minmax(5px,auto) repeat(2,3px);
    grid-auto-rows: 6em;
    grid-gap: 1px;
    background-color: red;
    width: 90%;
    border:2px solid black;
}
.product .prodImage{
    margin-right: auto;
    width: 28%;

}
.product .prodImage img{
   
    
    max-width: 100%;
    height: auto;
   
}




@media(max-width:991px){
    html{
        font-size: 55%;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}