*, *::before,* ::after{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background: #fffdfa;
}

/****Login ****/
.loginbox{
    min-height: 90vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffdfa;
}
.loginbox .box{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 400px;
    height: 400px;
    color: #252324;
    background-color:white;
    border-radius: 10px;
    border-width: 2px;
    padding:15px;
}
h2{
    text-align: center;
}

h1 {
    margin-top:10px;
    display:flex;
    font-size: 12px;
    color: gray;
  }
h1:before, h1:after {
    
    content:'';
    flex:1;
    border-bottom:groove 2px;
    margin:auto 0.25em;
    
}

.loginbox p{
    margin: 0;
    padding: 10;
    font-weight: 300;

}

.loginbox input{
    width: 100%;
    margin-bottom: 10px;

}

.loginbox input[type ="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid #230bfb;
    background: transparent;
    background-color: #F5F5F5;
    outline: none;
    height: 30px;
    border-radius: 0px;
    
    color:#252324;
    font-size: 15px;

}

.loginbox input[type="submit"]{
    border: solid;
    border-width: 1px;
    border-color:#2e2bd8 ;
    outline: none;
    height: 30px;
    background: #2e2bd8;
    color: #fff;
    font-size: 15px;
    border-radius:10px ;
    
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background:#fff;
    transition-duration:0.3s;
    color: #000;
}
.loginbox input[type="text"]:hover{
    cursor: pointer;
    background:	whitesmoke;
    transition-duration:0.3s;
    color: #000;
}


/***********Register***************/

.register{
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffdfa;
}
.register .box{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 400px;
    height: 550px;
    color: #252324;
    background-color:white;
    border-radius: 10px;
    border-width: 2px;
    padding:15px;
}
.box h2{
    text-align: center;
}

.box h1 {
    margin-top:10px;
    display:flex;
    font-size: 10px;
    color: gray;
  }
.box h1:before, h1:after {
    
    content:'';
    flex:1;
    border-bottom:groove 2px;
    margin:auto 0.25em;
    
}

.register p{
    margin: 0;
    padding: 2px;
    font-weight: 300;

}

.register input{
    width: 100%;
    margin-bottom: 10px;

}

.register input[type ="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid #230bfb;
    background: transparent;
    background-color: #F5F5F5;
    outline: none;
    height: 30px;
    border-radius: 0px;
    
    color:#252324;
    font-size: 12px;

}

.register input[type="submit"]{
    border: solid;
    border-width: 1px;
    border-color:#2e2bd8 ;
    outline: none;
    height: 25px;
    background: #2e2bd8;
    color: #fff;
    font-size: 15px;
    border-radius:10px ;
    
}
.register input[type="submit"]:hover{
    cursor: pointer;
    background:#fff;
    transition-duration:0.3s;
    color: #000;
}
.register input[type="text"]:hover{
    cursor: pointer;
    background:	whitesmoke;
    transition-duration:0.3s;
    color: #000;
}
.register .terms{
    font-size: 11px;
}

/****Navbar****/
.navlinks{
    background-color: #000;
    display: flex;
    justify-content: right;
    list-style: none;
    
}
.navlinks li{
    justify-content: right;
    padding-right: 20px;
    background-color: red;
}



@media(max-width:991px){
    html{
        font-size: 55%;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}