*, *::before,* ::after{
   /* box-sizing: border-box;*/
    font-family: "Poppins", sans-serif;
}
body{
    /*padding: 0;
    margin: 0;*/
    background: #fffdfa;
}

.addProduct {
   
    
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addProduct form{
   
    border: none;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    width: 400px;
    height: 300px;
}

.addProduct ul{
    display: inline-block;
    line-height: 2px;

}
.addProduct input{
    width: 100%;
    margin-bottom: 10px;

}

.addProduct input[type ="text"], input[type = "file"]{
    border: none;
    border-bottom: 1px solid #230bfb;
    background: transparent;
    background-color: #F5F5F5;
    outline: none;
    height: 35px;
    border-radius: 0px;
    
    color:#252324;
    font-size: 15px;

}


.addProduct input[type="submit"]{
   
    border-color:#2e2bd8 ;
    outline: none;
    height: 30px;
    background: #2e2bd8;
    color: #fff;
    font-size: 15px;
    border-radius:10px ;
    
}
.addProduct input[type="submit"]:hover{
    cursor: pointer;
    background:#fff;
    transition-duration:0.3s;
    color: #000;
}
.addProduct input[type="text"]:hover{
    cursor: pointer;
    background:	whitesmoke;
    transition-duration:0.3s;
    color: #000;
}
.displayProducts {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dispRecords{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  
}
table{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 18px;
    border-collapse: separate;
    border-spacing: 0 15px;
   
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    
}
th {
    height: 20px;
    font-size: 12px;
    padding: 8px;
}
tr{
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
}
.dispRecords img{
    height: auto;
    width: auto;
}
.dispRecords input[type="submit"]{
   
    border-color:#2e2bd8 ;
    outline: none;
    height: 30px;
    width: 60px;
    background: #2e2bd8;
    color: #fff;
    font-size: 15px;
    border-radius:10px ;
   
    
}
.dispRecords input[type="submit"]:hover{
    cursor: pointer;
    background:#fff;
    transition-duration:0.3s;
    color: #000;
}

/*profile page*/
.profile{
   
    display: flex;
    justify-content: flex-end;
    align-items:center ;
    border: none;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    width: 250px;
    height: 600px;
    font-size: 10px;
}
.profile h2{
    font-size: 20px;
    color: #2e2bd8;
    text-align: center;
}
.profile form{
    display: inline-block;
    margin-right: auto;
    padding-top: 0px;
    line-height: 70px;
   
}
.profile ul li{
    list-style: none;
    line-height: 2px;

}
.profile input{
    width: 100%;
    margin-bottom: 10px;

}

.profile input[type ="text"], input[type = "password"], input[type = "email"], input[type = "number"]{
    border: none;
    border-bottom: 1px solid #230bfb;
    background: transparent;
    background-color: #F5F5F5;
    outline: none;
    height: 35px;
    border-radius: 0px;
    
    color:#252324;
    font-size: 15px;

}


.profile input[type="submit"]{
   
    border-color:#2e2bd8 ;
    outline: none;
    height: 30px;
    background: #2e2bd8;
    color: #fff;
    font-size: 15px;
    border-radius:10px ;
    
}
.profile input[type="submit"]:hover{
    cursor: pointer;
    background:#fff;
    transition-duration:0.3s;
    color: #000;
}


/*All Products*/
.allProducts{ 
    
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
.product{
    width: 250px;
    height: 340px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    color: #252324;
    background: #fff;
    border: 1px solid #d84e2b;
} 
    
.product img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.product p{
    font-size: 12px;
    color: #252324;
    text-align: center;
    margin-top: 0px;

}
.product input[type="submit"]{
   
    border-color:#db2514 ;
    outline: none;
    height: 30px;
    width: 150px;
    background: #e63f15;
    color: #fff;
    font-size: 15px;
    border-radius:10px ;
   
    
}
.product input[type="submit"]:hover{
    cursor: pointer;
    background:#fff;
    transition-duration:0.3s;
    color: #000;
}













@media(max-width:991px){
    html{
        font-size: 55%;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}
