*, *::before,* ::after{
   /* box-sizing: border-box;*/
    font-family: "Poppins", sans-serif;
    
}
body{
    /*padding: 0;
    margin: 0;*/
    background: #EEF2F4;
}
.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.addProduct{
    
  
    width:80%;
    height: 600px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
   background-color: #fff;
  color: #000;
}

.grid{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(60px,auto) repeat(2,80px);
    grid-auto-rows: 5em;
    grid-gap: 3px;
  
   
}
.data{
    display: block;
    width: 90%;
    height: 90%;
   padding-left: 5px;
    
}
.data .file{
    color: blue;
    border-radius: 5px;
}    
.addProduct  select{
    width: 100%;
    height: 40px;
}
.addProduct input{
    width: 100%;
    margin-bottom: 10px;

}

.addProduct  input[type ="text"],input[type = "number"]{
   
    border: 1px solid #666666;
    background: transparent;
    background-color: #F5F5F5;
    outline: none;
    height: 35px;
    border-radius: 5px;
    color:#252324;
    font-size: 15px;

}

.datasubmit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.datasubmit  input[type="submit"]{
   
    border-color: black ;
    outline: none;
    height: 30px;
    background: #fff;
    font-size: 15px;
    border-radius:5px ;
    width: 100px;
    
}
.addProduct  input[type="submit"]:hover{
    cursor: pointer;
    background:#2e2bd8 ;
    transition-duration:0.3s;
    color: #000;
}
.addProduct  input[type="text"]:hover{
    cursor: pointer;
    background:	whitesmoke;
    transition-duration:0.3s;
    color: #000;
}
.addProduct  .textarea{
    background-color: #fff;
    padding:1em;
}
.addProduct textarea{
    background-color: #dddddd;
    border-radius: 10px;
    border:2px solid b;
    outline: none;
    width: 100%;
}
.displayProducts {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

    
}
/*records*/
.err{
    
    width: 70%;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: 30px;
   color:green;
    padding-top: 40px;
   text-align: center;
   display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    margin-top: 53px;
}
.profile_Records{
    display: flex;
    padding-top: 100px;
    
}
.dispRecords{
   
    margin-left: auto;
    width: 70%;
    background: #EEF2F4;
    border-radius: 5px;
   
}
.dispRecords table{
    width: 100%;
    color: black;
    text-align: center;
    font-size: 18px;
    border-collapse: separate;
    border-spacing: 0 8px;
    
}
.dispRecords .records_heading{
    background: #2e2bd8;
    color: #fff;
  
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #2e2bd8;

}
.dispRecords th {
    height: 20px;
    font-size: 12px;
    padding: 8px;
    background-color: #fff 
}
.dispRecords tr{
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
    background-color: #fff ;
}
.dispRecords img{
    width: 60%;
}
img{
 
    max-width: 100%;
    height: 160px;
    width: 200px;
    border-radius: 3px;
}

.adispRecords{
   
    margin-left: auto;
    width: 70%;
    
    border-radius: 5px;
    padding-right: 30px;
    
   
}
.adispRecords table{
  
    width: 100%;
    color: black;
    text-align: center;
    font-size: 18px;
    border-collapse: separate;
    border-spacing: 0 8px;
    
}
.records_heading{
    background: #2e2bd8;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #2e2bd8;

}
.adispRecords th {
    height: 20px;
    font-size: 12px;
    padding: 8px;
    background-color: #fff 
}
.adispRecords tr{
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
    background-color: #fff ;
}
.adispRecords img{
    width: 60%;
}

/*profile page*/
.prof{
   
    padding-left: 100px;
    margin-right: auto;
    
}
.profile{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 450px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
   
   /* font-size: 10px;*/
}

.profile h2{
    font-size: 20px;
    color: #2e2bd8;
   
}
.profile form{
  
  
   width: 100%;
   height: 100%;
   
}
.profile ul li{
    list-style: none;
    line-height: 2px;

}
.profile input{
    width: 90%;
    margin-bottom: 10px;

}

.profile input[type ="text"], input[type = "password"], input[type = "email"], input[type = "number"]{


    border: 1px solid #666666;
    background: transparent;
    background-color: #F5F5F5;
    outline: none;
    height: 35px;
    border-radius: 5px;
    
    color:#252324;
    font-size: 15px;

}


.profile input[type="submit"]{
   
    border-color:#2e2bd8 ;
    outline: none;
    height: 30px;
    background: #2e2bd8;
    color: #fff;
    font-size: 15px;
    border-radius:10px ;
    
}
.profile input[type="submit"]:hover{
    cursor: pointer;
    background:#fff;
    transition-duration:0.3s;
    color: #000;
}

/*edit product*/
.adisplayProducts {
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif; 
}
.editProd{
    width: auto;
    height: auto;

}
.editProd .contain{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
   
}
.editProd .addProduct{
    
  
    width:100%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
    
}
.editProd .buy_form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
}
.editProd .grid{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(40px,auto) repeat(2,60px);
    grid-auto-rows: 5em;
    grid-gap: 12px;
   
   
}
.editProd .data{
    display: block;
    width: 100%;
    height: 100%;
  
    
}
.editProd  .data .file{
    color: blue;
    border-radius: 5px;
}    
.editProd .addProduct  select{
    width: 100%;
    height: 40px;
}
.editProd .addProduct input{
    width: 100%;
    margin-bottom: 10px;

}

.editProd .addProduct  input[type ="text"],input[type = "number"]{
   
    border: 1px solid #666666;
    background: transparent;
    background-color: #F5F5F5;
    outline: none;
    height: 35px;
    border-radius: 5px;
    
    color:#252324;
    font-size: 15px;

}

.editProd .datasubmit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.editProd .datasubmit  input[type="submit"]{
   
    border-color: black ;
    outline: none;
    height: 30px;
    color:#fff ;
    background:#2e2bd8 ;
    font-size: 15px;
    border-radius:5px ;
    width: 100px;
    border:none;
    
}
.editProd .addProduct  input[type="submit"]:hover{
    cursor: pointer;
   
    background: #fff;
    transition-duration:0.3s;
    color: #000;
}
.editProd .addProduct  input[type="text"]:hover{
    cursor: pointer;
    background:	whitesmoke;
    transition-duration:0.3s;
    color: #000;
}
.editProd .addProduct  .textarea{
    background-color: #fff;
    padding:1em;
    width: 82%;
}
.editProd .addProduct textarea{
    background-color: #dddddd;
    border-radius: 10px;
    border:2px solid b;
    outline: none;
    width: 100%;
}
.editProd .displayProducts {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    border: solid black;
    
}

/*Admin page*/
.article{
    padding-left: 100px;
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(40px,auto) repeat(2,60px);
    grid-auto-rows: 5em;
    grid-gap: 12px;
   
   

   
}
.article_container{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    
    
  }
  .article_container img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .article_container h4{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .article_container .con{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   }
  .article_container .author{
    font-size: 0.7rem;
  }
  .article_container button{
    align-self: center;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    margin-bottom: 10px;
    color: #fff;
    background: #2e2bd8;
    border: none;
    outline: none;
  }









@media(max-width:991px){
    html{
        font-size: 70%;
    }
}
@media(max-width:450px){
    html{
        font-size: 70%;
    }
}
